<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <header>
        <div class="name">
            <h4 class="diseño">Diseño</h4>
            <h4 class="multimedia">Multimedia</h4>
        </div>
        <nav>
            <li><a class="inicio" href="../index.html">INICIO</a></li>
            <li><a href="nosotros.html">NOSOTROS</a></li>
            <li><a href="services.html">SERVICIOS</a></li>
            <li><a href="contacto.html">CONTACTO</a></li>
        </nav>
    </header>
    <aside class="subscribir">
            <h1>Subscribete a nuestro boletín</h1>
            <div class="subscribete-email">
                <input type="email" placeholder="Ingrese el Email...">
                <button>Suscribete</button>
            </div>
        </aside>
    <main class="contactos">
        <section class="section1_1_1">
            <h1 class="contacto">Contacto</h1>
            <form>
            <label for="">Nombre</label>
            <input type="text" placeholder="Ingresa tu nombre">
            <label for="">Email</label>
            <input type="email" placeholder="Ingresa tu email">
            <label for="">Teléfono</label>
            <input type="tel" placeholder="Ingresa tu teléfono">
            <label for="">Celular </label>
            <input type="tel" placeholder="Ingrese tu celular">
            <label for="">Mensaje</label>
            <textarea></textarea>
            <input class="Enviar"type="submit" value="Enviar">
            </form>
        </section>
        <section class="section2_1">
        <section class="section2">
            <h1>Que hacemos</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quo minima dolore quis hic amet. Fugit laborum eaque, veritatis reiciendis libero tempora non pariatur maxime quod harum? Natus, quod ipsa.</p>
        </section>
        <img src="../assets/images/mapaGoogle.png" alt="Mapa de google">
        </section>
    </main>
    <footer>
        <p>Graphel Desarrollo  web, Copyright © 2017</p>
    </footer>
</body>
</html>
</body>
</html>