<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <header>
        <div class="name">
            <h4 class="diseño">Diseño</h4>
            <h4 class="multimedia">Multimedia</h4>
        </div>
        <nav>
            <li><a class="inicio" href="../index.html">INICIO</a></li>
            <li><a href="nosotros.html">NOSOTROS</a></li>
            <li><a href="services.html">SERVICIOS</a></li>
            <li><a href="contacto.html">CONTACTO</a></li>
        </nav>
    </header>
    <aside class="subscribir">
            <h1>Subscribete a nuestro boletín</h1>
            <div class="subscribete-email">
                <input type="email" placeholder="Ingrese el Email...">
                <button>Suscribete</button>
            </div>
        </aside>
    <main class="nosotros">
        <section class="section1">
            <h1>Nosotros</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda itaque voluptatem architecto modi veritatis harum aut hic iusto alias saepe quos corporis unde, accusamus facere est eaque illo, consectetur labore.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores quo quisquam, eaque voluptatibus rem quibusdam ipsa reiciendis harum voluptas dolor distinctio explicabo eos deserunt praesentium alias voluptatem? Omnis, voluptatum ex?</p>
            <img src="../assets/images/891.jpg" alt="computador con taza de cafe">
        </section>
        <section class="section2">
            <h1>Que hacemos</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quo minima dolore quis hic amet. Fugit laborum eaque, veritatis reiciendis libero tempora non pariatur maxime quod harum? Natus, quod ipsa.</p>
        </section>
    </main>
    <footer>
        <p>Graphel Desarrollo  web, Copyright © 2017</p>
    </footer>
</body>
</html>